node_modules
bak
public
mongodb
misc
*.ini
website
.vscode
*.bat
settings.json
package-lock.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.yml

# Deployment artifacts
artifacts

#Lambda excludes
src/lambda-server-admin/config.json
src/lambda-server-admin/index.zip
