.community-section {
  text-align: center;
}

.banner-image {
  width: 100%;
}

.social-links {
  text-align: center;
  margin-top: 10px;
}

.social-link {
  border: solid 1px black;
  border-radius: 4px;
  background-color: #262626;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.social-link:hover {
  border: solid 1px white;
}

.social-icon {
  width: 25px;
  display: inline-block;
}

.social-text {
  display: inline-block;
}

.discord-cta {
  color: #1f9a5b;
}

.homepage-video {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}