<div class="community-section">
  <img src="/img/icons/ss03Banner.jpg" class="banner-image" alt="SocketShot Season Zero-3">
  <div class="social-links">
    <a href="https://discord.com/invite/SYxHfJa" class="social-link" target="_blank" rel="noopener noreferrer">
      <img src="/img/icons/discord.png" class="social-icon" alt="Discord">
      <span class="social-text">SocketShot</span>
    </a>
    <p>Suggest new features, share clips, meet teammates</p>
    <p class="discord-cta">Join Discord to get exclusive equipment!</p>
    <br>
    <img src="/img/icons/banner1.jpg" class="banner-image" alt="SocketShot Community Night">
    <br><br>
    <a href="https://www.reddit.com/r/SocketShot/" class="social-link" target="_blank" rel="noopener noreferrer">
      <img src="/img/icons/reddit.png" class="social-icon" alt="Reddit">
      <span class="social-text">/r/SocketShot</span>
    </a>
  </div>
  <div class="homepage-video">
    <iframe
      width="100%"
      height="350px"
      src="https://www.youtube.com/embed/MU4FzvqUfm0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div>
</div>
