/* Global styles ported from SocketShot */
@import url('https://fonts.googleapis.com/css?family=Electrolize');

html {
  background-color: #2c2f31;
}

body {
  font-family: 'Electrolize', sans-serif;
  color: white;
  font-size: 18px;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 40px;
  margin: 0;
}

h2 {
  font-size: 20px;
  margin: 0;
}

a {
  color: white;
  font-weight: bold;
}

a:hover {
  color: #b0b0b0;
}
